.impowerBox .qrcode {width: 200px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display：none!important;}
.impowerBox .status {margin-left:0; text-align: center;}
.impowerBox .wrp_code {margin-top:10px!important; }
